button {
  cursor: pointer;
}

div {
  margin-top: 20px;
}

.subscribe {
  background-color: red;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 3px;
  transition: opacity 0.15s;
  vertical-align: top;
}
.subscribe:hover {
  opacity: 0.8;
}
.subscribe:active {
  opacity: 0.5;
}

.join {
  background-color: white;
  color: #08a0e9;
  border: solid 2px;
  border-radius: 3px;
  padding: 8px 10px 8px 10px;
  transition: background-color 0.15s, color 0.15s;
}
.join:hover {
  background-color: #08a0e9;
  color: white;
}
.join:active {
  opacity: 0.7;
}

.tweet {
  background-color: #08a0e9;
  color: white;
  font-weight: bold;
  border: none;
  padding: 10px 12px 10px 12px;
  border-radius: 30px;
  transition: box-shadow 0.15s;
  vertical-align: top;
}
.tweet:hover {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15); /* horizontal vertical blur color */
}

a {
  margin-right: 5px;
}

.next {
  margin-left: 5px;
}

.stretch {
  background-color: greenyellow;
  border: none;
  padding: 10px;
  color: white;
  transition: padding 0.5s;
}
.stretch:hover {
  padding: 20px;
}