body {
  font-family: Roboto;
  margin: 0;  
}
.video-title {
  font-weight: bold;
  font-size: 18px;
  width: 280px;
  line-height: 24px;
  margin-bottom: 5px;
}

.video-stats {
  font-size: 14px;
  color: rgb(96, 96, 96);
  margin-bottom: 20px;
}

.video-author {
  font-size: 14px;
  color: rgb(96, 96, 96);
  margin-bottom: 20px;
}

.video-description {
  font-size: 14px;
  color: rgb(96, 96, 96);
  width: 280px;
  line-height: 24px;
  margin-bottom: 100px;
}

nav {
  text-align: right;
  background-color: black;
  padding: 20px 20px;
}

.apple-text {
  margin-bottom: 50px;
  font-size: 14px;
  background-color: rgb(227, 65, 64);
  color: white;
  text-align: center;
  padding: 25px;
}

.shop {
  cursor: pointer;
}
.shop:hover {
  text-decoration: underline;
}

.sign-in {
  background-color: rgb(227, 65, 64);
  border: none;
  color: white;
  padding: 8px 10px;
  border-radius: 5px;
  font-weight: bold;
  margin-right: 5px;
  cursor: pointer;
  transition: background-color 0.15s, color 0.15s;
}
.sign-in:hover {
  background-color: whitesmoke;
  color: black;
}

.sign-up {
  background-color: whitesmoke;
  border: none;
  padding: 8px 10px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.15s, color 0.15s;
}
.sign-up:hover {
  background-color: lightslategrey;
  color: white;
}