.search-bar {
  flex: 1;
  height: 40px;
  border: 1px solid rgb(204, 204, 204);
  border-radius: 50px 0 0 50px;
  padding-left: 10px;
  box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.15);
  width: 0;
}
.search-bar::placeholder {
  font-family: Roboto, Arial;
  font-size: 16px;
}
.search-bar:focus {
  outline: none;
  border-color: blue;
}

.search-button {
  height: 40px;
  width: 64px;
  margin-right: 10px;
  border: 1px solid rgb(204, 204, 204);
  border-left: none;
  border-radius: 0 50px 50px 0;
  background-color: rgb(248, 248, 248);
  cursor: pointer;
}
.search-button img {
  height: 24px;
  margin-top: 4px;
}

.voice-search {
  height: 40px;
  width: 40px;
  border: none;
  border-radius: 20px;
  background-color: rgb(248, 248, 248);
  cursor: pointer;
}
.voice-search img {
  height: 24px;
  margin-top: 4px;
}

.header {
  height: 55px;
  margin-bottom: 20px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.left-section {
  display: flex;
  align-items: center;
}

.middle-section {
  flex: 1;
  margin-left: 60px;
  max-width: 470px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.right-section {
  width: 180px;
  margin: 0 24px 0 29px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
}

.hamburger-menu {
  height: 24px;
  margin: 0 24px 0 24px;
  cursor: pointer;
}

.youtube-logo {
  height: 20px;
  cursor: pointer;
}

.upload-icon {
  height: 24px;
}

.youtube-apps {
  height: 24px;
}

.notifications {
  height: 24px;
}

.my-channel {
  height: 32px;
  border-radius: 16px;
}