.search-bar {
  flex: 1;
  height: 40px;
  border: 1px solid rgb(204, 204, 204);
  border-radius: 50px 0 0 50px;
  padding-left: 10px;
  box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.15);
  width: 0;
}
.search-bar::placeholder {
  font-family: Roboto, Arial;
  font-size: 16px;
}
.search-bar:focus {
  outline: none;
  border-color: blue;
}

.search-button {
  height: 40px;
  width: 64px;
  margin-right: 10px;
  border: 1px solid rgb(204, 204, 204);
  border-left: none;
  border-radius: 0 50px 50px 0;
  background-color: rgb(248, 248, 248);
  cursor: pointer;
}
.search-button img {
  height: 24px;
}

.voice-search {
  height: 40px;
  width: 40px;
  border: none;
  border-radius: 20px;
  background-color: rgb(248, 248, 248);
  cursor: pointer;
}
.voice-search img {
  height: 24px;
}

.header {
  height: 55px;
  margin-bottom: 20px;
  background-color: white;
  border-bottom: solid 1px rgb(204, 204, 204);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
}

.left-section {
  display: flex;
  align-items: center;
}

.middle-section {
  flex: 1;
  margin-left: 60px;
  max-width: 470px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.right-section {
  width: 180px;
  margin: 0 24px 0 29px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
}

.hamburger-menu {
  height: 24px;
  margin: 0 24px 0 24px;
  cursor: pointer;
}

.youtube-logo {
  height: 20px;
  cursor: pointer;
}

.upload-icon,
.youtube-apps,
.notifications {
  height: 24px;
  cursor: pointer;
}

.my-channel {
  height: 32px;
  border-radius: 16px;
  cursor: pointer;
}

.notifications-icon-container {
  position: relative;
}
.notifications-count {
  background-color: rgb(204, 0, 0);
  color: white;
  position: absolute;
  top: -2px;
  right: -5px;
  font-size: 10px;
  border-radius: 80px;
  padding: 1.5px 5px;
}

.search-button,
.voice-search,
.upload-icon-container,
.youtube-apps-container,
.notifications-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.search-button .tooltip,
.voice-search .tooltip,
.upload-icon-container .tooltip,
.youtube-apps-container .tooltip,
.notifications-icon-container .tooltip {
  position: absolute;
  background-color: rgba(96, 96, 96, 0.9);
  color: white;
  padding: 8px;
  border-radius: 2px;
  font-size: 12px;
  bottom: -50px;
  opacity: 0;
  pointer-events: none;
  white-space: nowrap;

  transition: opacity 0.15s;
}
.search-button:hover .tooltip,
.voice-search:hover .tooltip,
.upload-icon-container:hover .tooltip,
.youtube-apps-container:hover .tooltip,
.notifications-icon-container:hover .tooltip {
  opacity: 1;
}