.sidebar {
  background-color: white;
  position: fixed;
  top: 55px;
  left: 0;
  bottom: 0;
  width: 72px;
  z-index: 10;
}

.sidebar-link {
  height: 75px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  cursor: pointer;
}
.sidebar-link img {
  height: 24px;
  margin-bottom: 6.5px;
}
.sidebar-link:hover {
  background-color: rgb(238, 238, 238);
}