.thumbnail {
  width: 100%;
  border-radius: 10px;
}

.video-title {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 10px;
}

.video-author,
.video-stats {
  font-size: 12px;
  color: rgb(96, 96, 96);
}

.video-stats {
  margin-top: 4px;
}

.video-grid {
  display: grid;
  padding: 25px;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 40px;
}

@media (min-width: 2000px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media (min-width: 976px) and (max-width: 1999px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 975px) {
  .video-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 585px) {
  .video-grid {
    grid-template-columns: 1fr;
  }
}

.video-info-grid {
  display: grid;
  grid-template-columns: 50px 1fr;
}

.channel-picture img {
  width: 36px;
  border-radius: 36px;
  justify-items: center;
}

.thumbnail-row {
  margin-bottom: 8px;
  position: relative;
}

.video-time {
  background-color: black;
  color: white;
  position: absolute;
  right: 4px;
  bottom: 11px;
  font-size: 12px;
  border-radius: 2px;
  font-weight: 500;
  padding: 4px;
}

.video-link {
  text-decoration: none;
  color: black;
}

.channel-link {
  text-decoration: none;
  color: rgb(96, 96, 96);
}