.thumbnail {
  width: 100%;
  border-radius: 10px;
}

.video-title {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 10px;
}

.video-author,
.video-stats {
  font-size: 12px;
  color: rgb(96, 96, 96);
}

.video-stats {
  margin-top: 4px;
}

.video-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 40px;
}

.video-info-grid {
  display: grid;
  grid-template-columns: 50px 1fr;
}

.channel-picture img {
  width: 36px;
  border-radius: 36px;
  justify-items: center;
}

.thumbnail-row {
  margin-bottom: 8px;
}